body{
    margin: 0;
}
.nav{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 60px;
    font-size: 25px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
.logo{
   flex: 1;
}
.logo{
    padding-left: 200px;
    text-align: left;
}
/*.sign{*/
    /*padding-right: 20px;*/
    /*text-align: right;*/
/*}*/
.link{
    color: white;
    cursor: pointer;
}
.link:hover{
    color: white;
}
