<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>心愿瓶</title>
    <link th:href="@{/admin/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/front/css/index.css}" rel="stylesheet">
</head>
<body>
    <!--<div class="main">-->
        <nav class="nav">
            <div class="logo">心愿瓶</div>
            <div class="sign"><a href="sign.html" class="link">登录/注册</a></div>
        </nav>
    <!--</div>-->
    <script th:src="@{/admin/js/jquery-1.11.3.min.js}"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script th:src="@{/front/js/threeJs/dev/three.js}"></script>
    <script th:src="@{/front/js/threeJs/dev/Octree.js}"></script>
    <script th:src="@{/front/js/threeJs/controls/OrbitControls.js}"></script>
    <script th:src="@{/front/js/threeJs/script/BasicUnit.js}"></script>
    <script th:src="@{/front/js/threeJs/script/ocean.js}"></script>

    <script type="text/javascript">


        var bottles = [[${bottles}]]
        var index =

        document.getElementById("eidtButton").addEventListener("click", function () {
            $.ajax({
                type: 'GET',
                url: '/back/bottle/detail/' + id,
                success: function (result) {

                },
                error: function (result) {
                    console.log(result)
                }
            })
        })

    </script>
</body>
</html>

