<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="back/header::head-fragment"></head>

		<body>
        <div th:replace="back/header::header-body"></div>
        <div style="position: absolute; left: 240px; width: 1260px; top: 60px">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">评论管理</strong><small></small></div>
			</div>
			<hr>
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6">
                </div>
                <div class="am-u-sm-12 am-u-md-3">

                </div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field" placeholder="请输入评论内容">
                        <span class="am-input-group-btn">
           					<button class="am-btn am-btn-default" type="button">搜索</button>
          				</span>
                    </div>
                </div>
            </div>

			<div class="am-g">
				<div class="am-u-sm-12 am-u-md-6">
					<div class="am-btn-toolbar">
						<div class="am-btn-group am-btn-group-xs">
							<!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>-->
						</div>
					</div>
				</div>
			</div>
			<div class="am-g">
				<div class="am-u-sm-12">
					<form class="am-form">
						<table class="am-table am-table-striped am-table-hover table-main">
							<thead>
								<tr>
									<th class="table-id">评论ID</th>
									<th class="table-id">心愿瓶ID</th>
									<th class="table-type">评论人ID</th>
									<th class="table-type">创建时间</th>
									<th class="table-type">内容</th>
									<th class="table-set">操作</th>
								</tr>
							</thead>
                                <tbody>
                                    <th:block th:each="node : ${comments}">
                                        <tr>
                                            <td><th:block th:text="${node.cid}"/></td>
                                            <td><th:block th:text="${node.bid}"/></td>
                                            <td><th:block th:text="${node.aid}"/></td>
                                            <td><th:block th:text="${node.ctime}"/></td>
                                            <td><input th:id="content+(${node.cid})" type="text" name="content" th:value="${node.content}"></td>
                                            <td>
                                                <div class="am-btn-toolbar">
                                                    <div class="am-btn-group am-btn-group-xs">
                                                        <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="javascript:void(0)" th:onclick="'savePost(' + ${node.cid} + ');'"><span class="am-icon-pencil-square-o"></span> 保存</a>
                                                        <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" href="javascript:void(0)" th:onclick="'delPost(' + ${node.cid} + ',' + ${node.bid} ');'"><span class="am-icon-trash-o"></span> 删除</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </th:block>
                                </tbody>
						</table>
						<div class="am-cf">
							<p>共<th:block th:text="${recordNum}"/>条记录</p>
							<div class="am-fr">
								<ul id="pageButtons" class="am-pagination">
									<li class="am-disabled">
                                        <a href="#">«</a>
									</li>
                                    <script th:inline="javascript">
                                        var recordNum=[[${recordNum}]];
                                        var curPage=[[${page}]];
                                        var limit=[[${limit}]];
                                        var pages=(recordNum/limit+(recordNum%limit!=0));
                                        for(var i=1;i<=pages;++i) {
                                            var elem_li = document.createElement("li");
                                            if(i==curPage)
                                                elem_li.innerHTML="<li style='margin-right: 20px' class=\'am-active\'> <a href=\"#\" onclick=\"getComments("+i.toString()+");\">"+i.toString()+"<\/a><\/li>";
                                            else
                                                elem_li.innerHTML="<li style='margin-right: 20px'><a href=\"#\" onclick=\"getComments("+i.toString()+");\">"+i.toString()+"<\/a><\/li>";
                                            document.getElementById("pageButtons").appendChild(elem_li);
                                        }
                                    </script>
									<li>
										<a href="#">»</a>
									</li>
								</ul>
							</div>
						</div>
						<hr>
					</form>
				</div>
			</div>
		</div>

        <script type="text/javascript">
            function delPost(cid, bid) {
                $.ajax({
                    type: 'POST',
                    url: '/back/comment/delete',
                    data: {
                        cid: cid,
                        bid: bid
					},
                    dataType: 'json',
                    success: function(){
                        console.log("success");
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    },
                    error: function () {
                        console.log("failure");

                    }
                })
            }

            function savePost(cid) {
                var text = document.getElementById('content' + cid).value;

                $.ajax({
                    type: 'POST',
                    url: '/back/comment/save',
                    data: {
                        cid: cid,
                        content: text
                    },
                    dataType: 'json',
                    success: function (result) {
                        if(result && result.success){
                            console.log("评论保存成功");
                            setTimeout(function () {
                                window.location.reload();
                            }, 500);
                        } else{
                            console.log("评论保存失败");
                        }
                    },
                    error: function () {
                        console.log("POST执行Error回调函数");
                    }
                });
            }

            function getComments(page) {
                // var pages = $('.next-page');
                // for(var i = 0; i < pages.size; i++){
                //     pages[i].removeClass('am-active');
                // }
                // pages[page].addClass('am-active');


                $.ajax({
                    type: 'GET',
                    url: '/back/comment',
                    data: {page: page},
                    success: function () {
                        console.log("success");
                        setTimeout(function () {
                            window.location.href = '/back/comment?page=' + page;
                        }, 500);
                    },
                    error: function () {
                        console.log("failure");
                    }
                });
            }
        </script>
	</body>

</html>