<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="back/header::head-fragment"></head>
<body>
    <div th:replace="back/header::header-body"></div>
    <div style="position: absolute; left: 240px; width: 1260px; top: 60px">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">标题</label>
                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">作者</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group">
                <label for="exampleInputFile">内容</label>
                <audio th:if="${bottle.getBaudio()} != null" th:src="${bottle.getBaudio()}" id="audioPlayer" controls="controls" loop="loop" preload="auto">浏览器不支持语音</audio>
                <video th:if="${bottle.getBvideo()} != null" th:src="${bottle.getBvideo()}" id="videoPlayer" width="600" height="400" controls="controls" loop="loop"></video>
                <input type="file" id="exampleInputFile">
            </div>
            <div class="form-group">
                <label for="exampleInputText">评论</label>
                <textarea class="form-control" id="exampleInputText" rows="3"></textarea>
            </div>


            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</body>
</html>