<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="back/header::head-fragment"></head>
		<body>
        <div th:replace="back/header::header-body"></div>
        <div style="position: absolute; left: 240px; width: 1260px; top: 60px">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">心愿瓶管理</strong><small></small></div>
			</div>
			<hr>
            <div class="am-g">
                <div class="am-u-sm-12 am-u-md-6"></div>
                <div class="am-u-sm-12 am-u-md-3"></div>
                <div class="am-u-sm-12 am-u-md-3">
                    <div class="am-input-group am-input-group-sm">
                        <input type="text" class="am-form-field" placeholder="请输入心愿瓶信息">
                        <span class="am-input-group-btn">
           					<button class="am-btn am-btn-default" type="button">搜索</button>
          				</span>
                    </div>
                </div>
            </div>

			<div class="am-g">
				<div class="am-u-sm-12">
					<form class="am-form">
						<table class="am-table am-table-striped am-table-hover table-main">
							<thead>
								<tr>
									<th class="table-id">心愿瓶ID</th>
									<th class="table-id">作者</th>
									<!--<th class="table-title">心愿瓶ID</th>-->
									<th class="table-type">创建时间</th>
									<th class="table-type">标题</th>
									<th class="table-type">详细信息</th>
                                    <th class="table-type">是否私有</th>
									<!--<th class="table-author am-hide-sm-only">内容</th>-->
									<th class="table-set">操作</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="node, nodeState : ${bottles}">
                                    <tr>
                                        <!--<script th:inline="javascript">-->
                                            <!--console.log([[${nodeState.index}]]);-->
                                        <!--</script>-->
                                        <td><th:block th:text="${node.bid}"/></td>
                                        <td><th:block th:text="${map.get(node.aid)}"/></td>
                                        <td><th:block th:text="${node.time}"/></td>
                                        <td><input th:id="title+(${node.bid})" type="text" name="title" th:value="${node.title}"></td>
                                        <td>
											<!--<input th:id="content+(${node.bid})" type="text" name="content" th:value="${node.content}">-->
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <!--<a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="javascript:void(0)" th:onclick="'getDetail(' + ${node.bid} + ');'">-->
                                                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" th:href="@{'/back/wishbottle/detail/' + ${node.getBid()}}">
                                                        <span class="am-icon-pencil-square-o"></span> 查看详情
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            <th:block th:switch="${node.isPrivate}">
                                                <input th:id="private+${node.bid}" th:case="'true'" type="checkbox" checked="checked">
                                                <input th:id="private+${node.bid}" th:case="'false'" type="checkbox">
                                            </th:block>
                                        </td>
                                        <td>
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <a class="am-btn am-btn-default am-btn-xs am-text-secondary" href="javascript:void(0)" th:onclick="'savePost(' + ${node.bid} + ');'">
                                                        <span class="am-icon-pencil-square-o"></span> 保存
                                                    </a>
                                                    <a class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" href="javascript:void(0)" th:onclick="'deletePost(' + ${node.bid} + ');'">
                                                        <span class="am-icon-trash-o"></span> 删除
                                                    </a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </th:block>
							</tbody>
						</table>
						<div class="am-cf">
							<p>共<th:block th:text="${recordNum}"/>条记录</p>
							<div class="am-fr">
								<ul id="pageButtons" class="am-pagination">
									<li class="am-disabled"><a href="#">«</a></li>
									<script th:inline="javascript">
                                        var recordNum=[[${recordNum}]];
                                        var curPage=[[${page}]];
                                        var limit=[[${limit}]];
                                        var pages=(recordNum/limit+(recordNum%limit!=0));
                                        for(var i=1;i<=pages;++i) {
                                            var elem_li = document.createElement("li");
                                            if(i==curPage)
                                                elem_li.innerHTML="<li style='margin-right: 20px' class=\'am-active\'> <a href=\"#\" onclick=\"getBottles("+i.toString()+");\">"+i.toString()+"<\/a><\/li>";
                                            else
                                                elem_li.innerHTML="<li style='margin-right: 20px'><a href=\"#\" onclick=\"getBottles("+i.toString()+");\">"+i.toString()+"<\/a><\/li>";
                                            document.getElementById("pageButtons").appendChild(elem_li);
                                        }
									</script>
									<li><a href="#">»</a></li>
								</ul>
							</div>
						</div>
						<hr>
					</form>
				</div>
			</div>
		</div>
		<script >
			function savePost(bid) {
                var title  = document.getElementById('title' + bid).value;
                var content = document.getElementById('content' + bid).value;
                var isPrivate = document.getElementById('private' + bid).checked;

                console.log(title);
                console.log(content);
                console.log(isPrivate);
                if(isPrivate == true) {
                    isPrivate = 'true';
                } else {
                    isPrivate = 'false';
                }
                $.ajax({
                    type: 'POST',
                    url: '/back/wishbottle/save',
                    data: {
                        bid: bid,
                        title: title,
                        content: content,
                        isPrivate: isPrivate
                    },
                    dataType: 'json',
                    success: function (result) {
                        if(result && result.success) {
                            console.log('心愿瓶修改成功');
                            setTimeout(function () {
                                window.location.reload();
                            }, 500);
                        } else {
                            console.log('心愿瓶保存失败');
                        }
                    },
                    error: function () {
                        console.log("POST执行Error回调函数");
                    }
                })

            }

            function deletePost(bid) {
                $.ajax({
                    type: 'POST',
                    url: '/back/wishbottle/delete',
                    data: {bid: bid},
                    dataTpye: 'json',
                    success: function () {
                        console.log("success");
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    },
                    error: function () {
                        console.log("failure");
                    }
                });
            }

            function getBottles(page) {
                $.ajax({
                    type: 'GET',
                    url: '/back/wishbottle',
                    data: {page: page},
					success: function () {
                        console.log("success");
                        setTimeout(function () {
                            window.location.href = '/back/wishbottle?page=' + page;
                        }, 500);
                    },
                    error: function () {
                        console.log("failure");
                    }
                });
            }

            // function getDetail(bid) {
			 //    $.ajax({
            //         type: 'GET',
            //         url: '/back/wishbottle/detail',
            //         data: {bid: bid},
            //         success: function () {
            //             console.log("get the detail");
            //             setTimeout(function() {
            //                 window.location.href = '/back/wishbottle/detail/' + bid;
            //             }, 500);
            //         }
            //     })
            //
            // }
		</script>

	</body>

</html>