<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="back/header::head-fragment"></head>
		<body>
        <div th:replace="back/header::header-body"></div>
		<div style="position: absolute; left: 400px; width: 800px; top: 100px">
			<div class="am-cf am-padding am-padding-bottom-0">
				<div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">心愿瓶管理</strong><small></small></div>
			</div>

			<hr>

			<div class="am-g">
				<div class="am-u-sm-12 am-u-md-6">
					<div class="am-btn-toolbar">
						<div class="am-btn-group am-btn-group-xs">
							<!--<button type="button" class="am-btn am-btn-default"><span class="am-icon-plus"></span> 新增</button>-->
						</div>
					</div>
				</div>
				<div class="am-u-sm-12 am-u-md-3">

				</div>
				<div class="am-u-sm-12 am-u-md-3">
					<div class="am-input-group am-input-group-sm">
						<input type="text" class="am-form-field" placeholder="请输入心愿瓶信息">
						<span class="am-input-group-btn">
            				<button class="am-btn am-btn-default" type="button">搜索</button>
						</span>
					</div>
				</div>
			</div>
			<div class="am-g">
				<div class="am-u-sm-12">
					<form class="am-form">
						<table class="am-table am-table-striped am-table-hover table-main">
							<thead>
								<tr>
									<th class="table-check"><input type="checkbox" id="chkAll"></th>
									<th class="table-id">心愿瓶ID</th>
									<th class="table-id">作者ID</th>
									<!--<th class="table-title">心愿瓶ID</th>-->
									<th class="table-type">创建时间</th>
									<th class="table-type">内容类型</th>
									<th class="table-type">标题</th>
									<th class="table-type">内容</th>
                                    <th class="table-type">是否私有</th>
									<!--<th class="table-author am-hide-sm-only">内容</th>-->
									<th class="table-set">操作</th>
								</tr>
							</thead>
							<tbody>
								<th:block th:each="node : ${bottles}">
                                    <tr>
                                        <td><th:block th:text="${node.bid}"/></td>
                                        <td><th:block th:text="${node.aid}"/></td>
                                        <td><th:block th:text="${node.time}"/></td>
                                        <td><th:block th:text="${node.type}"/></td>
                                        <td><th:block th:text="${node.title}"/></td>
                                        <td><th:block th:text="${node.content}"/></td>
                                        <td><th:block th:text="${node.isPrivate}"/></td>
                                        <td>
                                            <div class="am-btn-toolbar">
                                                <div class="am-btn-group am-btn-group-xs">
                                                    <button class="am-btn am-btn-default am-btn-xs am-text-secondary"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                                                    <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only"><span class="am-icon-trash-o"></span> 删除</button>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>

                                </th:block>
							</tbody>
						</table>
						<div class="am-cf">
							<p>共<th:block th:text="${recordNum}"/>条记录</p>
							<div class="am-fr">
								<ul class="am-pagination">
									<li class="am-disabled"><a href="#">«</a></li>
									<li class="am-active"><a href="#">1</a></li>
									<li><a href="#">2</a></li>
									<li><a href="#">3</a></li>
									<li><a href="#">4</a></li>
									<li><a href="#">5</a></li>
									<li><a href="#">»</a></li>
								</ul>
							</div>
						</div>
						<hr>
					</form>
				</div>
			</div>
		</div>
		<script>
			$(function() {
				$("#chkAll").chkAll({
					name: "chk"
				});
			});
		</script>
	</body>

</html>